<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.keff.IonicRecaptcha" version="1.0.0">

    <name>Ionic Recaptcha</name>

    <js-module src="www/plugin.js" name="recaptcha">
        <clobbers target="IonicRecaptcha" />
    </js-module>

    <platform name="android">
        <framework src="com.google.android.gms:play-services-safetynet:+" />

        <source-file src="src/android/IonicRecaptcha.java" target-dir="src/com/keff" />
        
        <config-file target="config.xml" parent="/*">
            <feature name="IonicRecaptcha">
                <param name="android-package" value="com.keff.IonicRecaptcha"/>
            </feature>
        </config-file>

    </platform>
</plugin>